.About-section-text
  p Date: February 3rd 6pm - February 4th 6pm, 2017
  p Theme: Oakland Against the World
  p Location: Learners Guild
  p Suggested Team Size: 3 (up to 4)
  p Team Formation Deadline: January 30th
  p Moderators: Shaka and Devon
  p Judges: Real Live Software Developers
  p Prize: TBD
