form.form(id='create-participant', method='POST', action='/')
  .form-group
    label.individual(for='username') Github Username
    br
    input(type='text', name='username', class='form-control', id='username', placeholder='Enter username')
  .form-group
    label.individual(for='email') Email
    br
    input(type='email', name='email', class='form-control', id='email', placeholder='Enter email')
  .form-group
    label.individual(for='hackathonIdea') Have an idea for an Oakland themed Hackathon? Submit your idea here!
    br
    input(type='hackathonIdea', name='hackathonidea', class='form-control', id='hackathonidea', placeholder='Enter Hackathon Idea')
  .form-group
    button.btn.btn-default Submit
