extends layout

block content

  form.form2(id='create-team', method='POST', action='/team')
    .form-group
      label.team(for='teamname') Team Name
      br
      input(type='text', name='teamname', class='form-control', id='teamname', placeholder='Enter your team name')
    .form-group
      label.team(for='teammate1') Team Mate 1
      br
      input(type='text', name='teammate1', class='form-control', id='teammate1', placeholder='team mate 1 github username')
    .form-group
      label.team(for='teammate2') Team Mate 2
      br
      input(type='text', name='teammate2', class='form-control', id='teammate2', placeholder='team mate 2 github username')
    .form-group
      label.team(for='teammate3') Team Mate 3
      br
      input(type='text', name='teammate3', class='form-control', id='teammate3', placeholder='team mate 3 github username')
    .form-group
      button.btn.btn-default Submit
