.App {
  text-align: center;
  flex-direction: column;
}

.App-header {
  background-image: url('../images/oakland1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250%;
  background-position: center;
  height: 250px;
  padding: 10px;
  color: black;
  font-family: 'Bungee Shade', cursive;
  border: 5px #FFF solid;
  font-size: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transition: width .35s ease-in-out;
}

.About-section {
  font-family: 'Questrial', cursive;
}

.About-section-text {
  font-family: 'Questrial', cursive;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background-color: #ADD8E6;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 5px #FFF solid;
}

.App-intro, .App-intro-2 {
  font-size: 25px;
  font-family: 'Bungee Shade', cursive;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.App-intro-2 {
  color: red;
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.App-title {
  border: 8px #FFFF00 dotted;
}

.form {
  font-family: 'Questrial', cursive;
  font-size: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-image: url('../images/oakland2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250%;
  background-position: center;
  border: 5px #FFF solid;
  margin: 10px;
  padding: 10px;
}

.form-group {
  width: auto;
  font-size: 16px;
}

label {
  color: #FFF;
  font-size: 24px;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
}

.form-control {
  margin: 10px;
  width: 75%;
  height: 50px;
  font-size: 18px;
}

button {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 24px;
  height: 75px;
  background-color: #32CD32;
  border: 1px #FFF solid;
  color: #FFF;
  font-family: 'Bungee Shade', cursive;
}

button:hover {
  width: 52%;
  background-color: #398439;
  border: 1px #398439 solid;
  color: #FFF;
  font-family: 'Bungee Shade', cursive;
}

.thankyou {
  background-image: url('../images/catgiph.gif');
  color: black;
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
}